@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@900&family=Merriweather&display=swap');


:root {

	--header-font: 'Alegreya Sans', sans-serif;
	--body-font: 'Merriweather', serif;  ;
	--fg-color:  #ffffff;
	--bg-color:  #89B1CB;
	--highlight-color:  #7B2F17;
	--secondary-highlight-color:  #F1985E;
}